<%= javascript_include_tag 'navbar' %>
<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <%= link_to(root_path, class: "navbar-item", "data-turbo": false) do %>
      <%= image_tag("logo.png", alt: "Logo SenSwitch", class: "logo-image") %>
      <h2 class = "title is-6">SenSwitch</h2>
    <% end %>

    
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Json", refresh_data_path, class: "navbar-item" %>
      
      <%= link_to "Monitor", monitor_path, class: "navbar-item" %>
      <%= link_to "Sobre", sobre_path, class: "navbar-item" %>
      

    </div>
    <div class="navbar-end" >
      <div class="navbar-item">
        <div class="buttons">
            <% if current_user %>
              <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "button is-light navbar-item" %>
              <%= link_to "Editar Conta", edit_user_registration_path, class: "button is-link navbar-item" %>
            <% else %>
              <%= link_to "Registrar", new_user_registration_path, class: "button is-light navbar-item" %>
              <%= link_to "Entrar", new_user_session_path, class: "button is-link navbar-item" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

    
  </div>
</nav>
